[user]
	email = <your-email>
	name = <your-name>
	signingkey = <your-ssh-public-key>

[includeIf "gitdir:~/Documents/bfai/"]
	path = ~/.gitconfig-work

[init]
	defaultBranch = main

[core]
	eol = lf
	autocrlf = input
	editor = nvim

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
