[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[user]
email = dfg1499@gmail.com
name = huskyhoochu

[init]
defaultBranch = main

[core]
eol = lf
autocrlf = input
