@import "mocha.css";

* {
  font-family: Monofur Nerd Font;
  font-size: 24px;
  min-height: 0;
}

window#waybar {
    background-color: alpha(@red, 0.75);
    color: @overlay0;
}

.modules-left {
  margin-left: 1rem;
}

.modules-right {
  margin-right: 1rem;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    padding: 0 5px;
}

#workspaces {
border-radius: 1rem;
}

#workspaces button {
    background: transparent;
    color: @rosewater;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
    background-color: alpha(@rosewater, 0.05);
}

#workspaces button.focused {
    color: @sapphire;
}

#workspaces,
#custom-music,
#tray,
#clock,
#wireplumber,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 8px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#wireplumber {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  padding-right: 1.5rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
